{% extends "includes/layoutt.html" %}

{% block body%}

<style>
    body { 
      background-image: url('/static/12333w.jpg');
      background-size:cover;
      background-attachment:fixed;
    }
</style>


<div>

    <img src="{{url_for('static',filename='unnamed (8).jpg')}}" alt="İnternal" width="440" height="530" style="position:absolute;left:100px;top:90px;border: 2px ridge rgba(52,58,64,255);">
    <img src="{{url_for('static',filename='text-1621112645973.png')}}" alt="İnternal" style="position: absolute;left:600px; top:300px;">
    <img src="{{url_for('static',filename='line-png-16827.png')}}" alt="İnternal" style="position: absolute;left:700px; top:270px;">

  
    <img src="{{url_for('static',filename='pexels-polina-zimmerman-3959107.jpg')}}" alt="İnternal" width="440" height="530" style="position: absolute;left:800px; top:590px;border: 2px ridge rgba(52,58,64,255);">
    <img src="{{url_for('static',filename='text-1621113119795.png')}}" alt="İnternal" style="position: absolute;left:30px; top:850px;">       
    <img src="{{url_for('static',filename='line-png-16827.png')}}" alt="İnternal" style="position: absolute;left:130px; top:810px;">


    <img src="{{url_for('static',filename='unnamed (10).jpg')}}" alt="İnternal" width="440" height="530" style="position: absolute;left:100px; top:1100px;border: 2px ridge rgba(52,58,64,255);">
    <img src="{{url_for('static',filename='text-1621113513347.png')}}" alt="İnternal" style="position: absolute;left:600px; top:1340px;">           
    <img src="{{url_for('static',filename='line-png-16827.png')}}" alt="İnternal" style="position: absolute;left:680px; top:1300px;">


    <img src="{{url_for('static',filename='unnamed (4).jpg')}}" alt="İnternal" width="440" height="530" style="position: absolute;left:830px; top:1600px;border: 2px ridge rgba(52,58,64,255);">
    <img src="{{url_for('static',filename='text-1621113987176.png')}}" alt="İnternal" style="position: absolute;left:30px; top:1850px;">            
    <img src="{{url_for('static',filename='line-png-16827.png')}}" alt="İnternal" style="position: absolute;left:150px; top:1810px;">


    <img src="{{url_for('static',filename='unnamed (9).jpg')}}" alt="İnternal" width="500" height="530" style="position: absolute;left:100px; top:2110px;border: 2px ridge rgba(52,58,64,255);">
    <img src="{{url_for('static',filename='text-1621114968746.png')}}" alt="İnternal" style="position: absolute;left:660px; top:2350px;"> 
    <img src="{{url_for('static',filename='line-png-16827.png')}}" alt="İnternal" style="position: absolute;left:690px; top:2310px;">
    <img src="{{url_for('static',filename='1px.png')}}" alt="İnternal" style="position: absolute;left:690px; top:2675px;">

</div>
{% endblock %}