{% extends "includes/layoutt.html" %}
{% block body %}
<br><br><br>

<style>
    body { 
      background-image: url('/static/wddqdq.jpg');
      background-size: contain;
      background-attachment: fixed;
      
    }
</style>

<div class="jumbotron jumbotron" style="background-color:rgb(241,237,234,255);background-image: url(/static/333.jpg);">
    <a href="http://localhost:9000/static/unnamed16.jpg"><img src="{{url_for('static',filename='unnamed16.jpg')}}" alt="İnternal" width="450" height="610" style="border: 3px ridge rgb(59,59,57,255);">
    <a href="http://localhost:9000/static/unnamed16.jpg"><img src="{{url_for('static',filename='text-1620503678322.png')}}" alt="İnternal" style="position: absolute;left:650px; top:350px;"></a>
</div>
    <div class="jumbotron jumbotron" style="background-color:rgb(241,237,234,255);background-image: url(/static/333.jpg);">    
    <a href="http://localhost:9000/static/unnamed18.jpg"><img src="{{url_for('static',filename='unnamed18.jpg')}}" alt="Lemonade" width="450" height="610" style="border: 3px ridge rgb(59,59,57,255);">
    <a href="http://localhost:9000/static/unnamed18.jpg"><img src="{{url_for('static',filename='text-1620503496267.png')}}" alt="Lemonade"  style="position: absolute;left:720px; top:1050px;"></a>
</div>
<div class="jumbotron jumbotron" style="background-color:rgb(241,237,234,255);background-image: url(/static/333.jpg);">
    <a href="http://localhost:9000/static/unnamed14.jpg"><img src="{{url_for('static',filename='unnamed14.jpg')}}" alt="Flamingo" width="450" height="610" style="border: 3px ridge rgb(59,59,57,255);">
    <a href="http://localhost:9000/static/unnamed14.jpg"><img src="{{url_for('static',filename='text-1620504011098.png')}}" alt="Flamingo"  style="position: absolute;left:660px; top:1855px;"></a>
</div>
<div class="jumbotron jumbotron" style="background-color:rgb(241,237,234,255);background-image: url(/static/333.jpg);">
    <a href="http://localhost:9000/static/unnamed15.jpg"><img src="{{url_for('static',filename='unnamed15.jpg')}}" alt="Rocket Trees" width="450" height="610" style="border: 3px ridge rgb(59,59,57,255);">
    <a href="http://localhost:9000/static/unnamed15.jpg"><img src="{{url_for('static',filename='text-1620506127121.png')}}" alt="Rocket Trees"  style="position: absolute;left:650px; top:2600px;"></a>
</div> 
<div class="jumbotron jumbotron" style="background-color:rgb(241,237,234,255);background-image: url(/static/333.jpg);">
    <a href="http://localhost:9000/static/unnamed133.jpg"><img src="{{url_for('static',filename='unnamed133.jpg')}}" alt="Reddish Hope" width="450" height="700" style="border: 3px ridge rgb(59,59,57,255);">
    <a href="http://localhost:9000/static/unnamed133.jpg"><img src="{{url_for('static',filename='text-1620507086219.png')}}" alt="Reddish Hope"  style="position: absolute;left:620px; top:3400px;"></a>
</div>
<div class="jumbotron jumbotron" style="background-color:rgb(241,237,234,255);background-image: url(/static/333.jpg);">
    <a href="http://localhost:9000/static/unnamed.jpg"><img src="{{url_for('static',filename='unnamed.jpg')}}" alt="last" width="450" height="650" style="border: 3px ridge rgb(59,59,57,255);">
    <a href="http://localhost:9000/static/unnamed.jpg"><img src="{{url_for('static',filename='text-1620669156283.png')}}" alt="last"  style="position: absolute;left:780px; top:4300px;"></a>    
</div>


{% endblock %}

    
